html {
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: -1;
}

body {
  margin: 0;
  padding: 0;
  color:#333333;
  width: 100%;
  height: 100vh;
  background: black;
  font-family: 'Poppins', 'Lato', sans-serif !important;
}

p {
  margin: 0 !important;
}

#overall {
  font-size: 3.5rem;
  font-weight: 300;
  text-transform: capitalize;
}

#place {
  font-size: 2rem;
}

#date {
  font-size: 1.3rem;
}

#temp {
  font-size: 4.5rem;
  font-weight: 200;
}

#humidity {
  font-size: 3rem;
  font-weight: 200;
}

#wind {
  font-size: 3rem;
  font-weight: 200;
}

#cloud {
  font-size: 3rem;
  font-weight: 200;
}

.card {
  position: relative;
  padding: 1.2rem;
  background: rgba(0,0,0,0.1) !important;
  border: none !important;
  border-radius: 0 !important;
}

img {
  width: 100px;
  height: 100px;
  margin: auto;
}

#inputPlace {
  border: none;
  box-shadow: none !important;
  border-radius: 0;
  background: rgba(0,0,0,0.1);
}

#inputPlace:focus {
  border: none !important;
}

.btn {
  border-radius: 0 !important;
  box-shadow: none !important;
}

#errorMessage {
  font-size: 2rem;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Container - Sky*/
#sky {
  z-index: -1;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100vw;
  height: 100vh;
}

/* Sun  */
.theSun {
  opacity: 1;
  box-shadow: 0 0 15px 3px yellow;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 15vh;
  left: 30vw;
  animation: sunpulse 2s alternate infinite;
  border-radius: 50%;
  background-image: radial-gradient(circle, #ffd200 95%, #f7971e);
}

@keyframes sunpulse {
  from {
    box-shadow: 0 0 100px #ff0, 0 0 100px #ff0;
  }
  to {
    box-shadow: 0 0 25px #ff0, 0 0 75px #ff0;
  }
}

/* Clouds */

.cloudwrapperOne,
.cloudwrapperTwo,
.cloudwrapperThree,
.cloudwrapperFour {
  animation: movecloudsoversky 60s linear infinite;
  animation-delay: -1s;
  z-index: 2001;
}

.cloudwrapper01,
.cloudwrapper02,
.cloudwrapper03,
.cloudwrapper04 {
  animation: movecloudsoversky 40s linear infinite;
  animation-delay: -1s;
  z-index: 2001;
}


.cloudwrapper02 {
  animation-delay: -4s;
}
.cloudwrapper03 {
  animation-delay: -2s;
}
.cloudwrapper04 {
  animation-delay: -13s;
}

.cloudwrapperOne {
  animation-delay: 2s;
}

.cloudwrapperTwo {
  animation-delay: -5s;
}

.cloudwrapperThree {
  animation-delay: -2s;
}

.cloud {
  width: 200px;
  height: 60px;
  background: white;
  position: relative;
  border-radius: 200px;
  z-index: 2000;
}

.cloud:before,
.cloud:after {
  content: "";
  background: white;
  position: absolute;
  width: 100px;
  height: 80px;
  top: -15px;
  left: 10px;
  border-radius: 100px;
  transform: rotate(30deg);
}

.cloud:after {
  width: 120px;
  height: 120px;
  top: -55px;
  left: auto;
  right: 15px;
}

.c1 {
  margin-top: -20px;
  animation-delay: -2s;
}

.c2 {
  margin-top: 30px;
  animation-delay: -3s;
}

.c3 {
  margin-top: 20px;
  animation-delay: -7s;
}

.c01 {
  margin-top: -20px;
  animation-delay: -2s;
}

.c02 {
  margin-top: 103px;
  animation-delay: -5s;
}

.c03 {
  margin-top: 60px;
  animation-delay: -7s;
}

.c04 {
  margin-top: 80px;
  animation-delay: -5s;
}

@keyframes movecloudsoversky {
  0% {
    transform: translate(-25%, 10vh);
    opacity: 0.8;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    transform: translate(125%, 10vh);
    opacity: 0.4;
  }
}

/* Sun rays */

.ray_box {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70px;
  animation: ray_anim 120s linear infinite;
}

.ray {
  background: -webkit-linear-gradient(
          top,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.8) 50%,
          rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(
          top,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.8) 50%,
          rgba(255, 255, 255, 0) 100%
  );
  margin-left: 10px;
  border-radius: 80% 80% 0 0;
  position: absolute;
  opacity: 0.1;
}

.ray1 {
  height: 170px;
  width: 30px;
  transform: rotate(180deg);
  top: -175px;
  left: 15px;
}

.ray2 {
  height: 100px;
  width: 8px;
  transform: rotate(220deg);
  top: -90px;
  left: 75px;
}

.ray3 {
  height: 170px;
  width: 50px;
  transform: rotate(250deg);
  top: -80px;
  left: 100px;
}

.ray4 {
  height: 120px;
  width: 14px;
  transform: rotate(305deg);
  top: 30px;
  left: 100px;
}

.ray5 {
  height: 140px;
  width: 30px;
  transform: rotate(-15deg);
  top: 60px;
  left: 40px;
}

.ray6 {
  height: 90px;
  width: 50px;
  transform: rotate(30deg);
  top: 60px;
  left: -40px;
}

.ray7 {
  height: 180px;
  width: 10px;
  transform: rotate(70deg);
  top: -35px;
  left: -40px;
}

.ray8 {
  height: 120px;
  width: 30px;
  transform: rotate(100deg);
  top: -45px;
  left: -90px;
}

.ray9 {
  height: 80px;
  width: 10px;
  transform: rotate(120deg);
  top: -65px;
  left: -60px;
}

.ray10 {
  height: 190px;
  width: 23px;
  transform: rotate(150deg);
  top: -185px;
  left: -60px;
}

@keyframes ray_anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
